@import "tailwindcss";
@import "@fontsource/public-sans";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-text {
  color: #003E5D; 
  font-size:xx-large;
  font-weight: 700;
  text-align: center; 
  font-family: "Public Sans";

}

.subheading-text {
  color: #F28C38; 
  font-size: large;
  font-weight: 600;
  font-family: "Public Sans";
   

}

.body-text {
  color: #003E5D; 
  font-size: medium;
  font-weight: 400;
  font-family: "Public Sans"; 
  
}

.footer-color {
  background-color: #003E5D ;
}